/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/

body {
	text-align: center;
	font-size: 16px;
	
	background-color: #9c9c9c;
	
	color: #680000;
	
	}
	
	/*styling for the page title*/
	
	h1 {
	margin:auto;
	font-style: italic;
	
	font-size: 28px;
	
	text-align: center;
	
	background-color: #996600;
	
	color: #f8f8f8;
	
	}
	
	/*styling for the overall table*/
	
	table {
	margin:auto;
	background-color: #F8F8F8;
	
	border: solid 2px #787878;
	
	}
	
	/*styling for the title of the table*/
	
	th {
	
	font-weight: bold;
	
	text-align: center;
	
	}
	
	/*styling for the coffee types*/
	
	.label {
	
	font-weight: bold;
	
	}
	
	/*styling for the tables*/
	
	.altrow {
	
	background-color: #E0E0E0;
	
	}
	
	/*styling for the Google Map link*/
	
	#locationlink {
	
	color: #380000;
	
	font-style:italic;
	
	}
	
	/*styling for the bottom copyright information*/
	
	footer {
		margin:auto;
	font-style: italic;
	
	font-size: 12px;
	
	text-align: center;
	
	}
	
	/* style for button */
	
	input[type='submit']
	
	{
	margin:auto;
	background-color: darkblue;
	
	color: white;
	
	font-size: 20px;
	
	}
	
	/* style for all inputs */
	
	textarea , input[type='text'],select{
	
	width: 250px;
	
	font-size:20px;
	
	}
	
	/* style for labels */
	
	label{
	
	font-size:20px;
	
	font-weight: bold;
	
	color: darkorange;
	
	}
	
	/* style for form */
	
	form{
	margin:auto;
	
	
	border:5px solid green;
	
	padding: 50px;
	
	width:40%;
	
	background-color: aqua;
	
	}