<footer>

    <nav>
        <a href="http://webpages.uncc.edu/ccrisp10/" target="_blank">Charlotte.edu&nbsp;&nbsp; </a> 

        <a href="https://github.com/Chanc10" target="_blank">Github&nbsp;&nbsp; </a> 

        <a href="https://Chanc10.github.io/" target="_blank">Github.io&nbsp;&nbsp; </a> 

        <a href="https://Chanc10.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages&nbsp;&nbsp; </a> 

        <a href="https://www.freecodecamp.org/ccrisp10" target="_blank">freeCodeCamp</a> 

        <a href="https://jsfiddle.net/user/ccrisp10" target="_blank">JSfiddle</a> 
    </nav>
    

    <p><a href="creativecatsinc.com/index.html">Page built by Crispy Designs</a></p>
    <p>
        <button onclick = "htmlValidate();" type = "button" name = "validation_link_html" id = "validation_link_html">HTML Validation</button>
        <button onclick = "cssValidate();" type = "button" name = "validation_link_css" id = "validation_link_css">CSS Validation</button>
    </p>
        <script>
            function htmlValidate()
            {
                window.open("https://validator.w3.org/check?uri=" + location.href, "_blank");
            }

            function cssValidate() 
            {
                window.open("https://jigsaw.w3.org/css-validator/validator?uri=" + location.href, "_blank");
            }
        </script>

</footer>