<header>
    <h1>Chandler Crisp <span style='font-size:50px;'>&#8703;</span> ITIS 3135</h1>

<nav>
<a href="index.html">Home</a> 
||
<a href="introduction.html">Introduction</a> 
||
<a href="contract.html">Contract</a>
||
<a href="tables.html">Table Sample</a>
||
<a href="forms.html">Forms Sample</a>
||
<a href="creativecatsinc.com/index.html">Brand</a>
||
<a href="stuff.edu/FoRTNite42069.html">Bad Design</a>
||
<a href="firstscripts.html">First JS</a>
||
<a href="polygons.html">Polygons</a>
||
<a href="calculator.html">Calculator</a>
||
<a href="arrays.html">Arrays</a>
||
<a href="exercise/Crisp-Activity_Accessibility.html">Accessibility</a>
||
<a href="slideshow.html">Slideshow</a>
||
<a href="activity10.html">Image Swap</a>
</nav>	
</header>