<header>
    <h1>Chandler Crisp <span style='font-size:50px;'>&#8703;</span> ITIS 3135</h1>

<nav>
<a href="index.html">Home</a> 
||
<a href="introduction.html">Introduction</a> 
||
<a href="contract.html">Contract</a>
||
<a href="tables.html">Table Sample</a>
||
<a href="forms.html">Forms Sample</a>
||
<a href="creativecatsinc.com/index.html">Brand</a>
||
<a href="stuff.edu/FoRTNite42069.html">Bad Design</a>
||
<a href="firstscripts.html">First JS</a>
||
<a href="polygons.html">Polygons</a>
||
<a href="calculator.html">Calculator</a>
<br>
<a href="arrays.html">Arrays</a>
||
<a href="exercise/Crisp-Activity_Accessibility.html">Accessibility</a>
||
<a href="slideshow.html">Slideshow</a>
||
<a href="activity10.html">Image Swap</a>
||
<a href="exercise/Crisp-Activity11.html">Accordion</a>
||
<a href="exercise/Crisp-Activity12.html">Carousel</a>
||
<a href="activity13/crisp-activity13.html">Activity 13</a>
||
<a href="activity14/crisp-activity14.html">Activity 14</a>
||
<a href="activity15/crisp-activity15.html">Activity 15</a>
||
<a href="hobby.html">Hobby(Midterm)</a>
||
<a href="projectdesign.html">Project Design</a>
||
<a href="project/index.html">Project</a>
</nav>	
</header>