.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  margin-bottom: -500px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  min-height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.buttons-container a {
  color: hsl(186 100% 69%);
  text-decoration: none;
  text-decoration-color: hsl(186 100% 69%);
}

/* Add responsive margin to the buttons container */
.buttons-container {
  margin-top: 700px;
  text-align: center;
}
























